@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.fix::before, .fix::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  position: relative;
}
.bg::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.85;
  z-index: -1;
}

.btn {
  padding: 10px 40px;
  margin: 0 10px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 5px;
}
.btn.box-btn {
  background-color: #ff7720;
  transition: 0.3s;
}
.btn.box-btn:hover {
  background-color: #fff;
  color: #000;
}
.btn.border-btn {
  border: 2px solid #ff7720;
  padding: 8px 38px;
  transition: 0.3s;
}
.btn.border-btn:hover {
  border-color: #fff;
}

.section-title h4 {
  font-size: 30px;
  text-transform: capitalize;
  position: relative;
  display: inline-block;
}
.section-title h4::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -50%;
  width: 66px;
  height: 2px;
  background: #ff7722;
  transform: translate(-50%, -50%);
}
.section-title p {
  width: 600px;
  margin: 20px auto;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header .logo {
  float: left;
  width: 202px;
  margin-right: 20px;
}
.header .logo a {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.header .menu {
  float: right;
  width: 978px;
}
.header .menu ul {
  text-align: right;
}
.header .menu ul li {
  display: inline-block;
}
.header .menu ul li a {
  padding: 0 12px;
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
}
.header .menu ul li a:hover {
  color: #ff7720;
}

.banner-area .banner-content {
  text-align: center;
}
.banner-area .banner-content h2 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 43px;
}
.banner-area .banner-content p {
  width: 600px;
  margin: 30px auto;
  color: #fff;
}
.section-area .about .signle-section {
  float: left;
  width: 386px;
  border: 1px solid #ddd;
  padding: 30px 20px;
  margin-right: 20px;
}
.section-area .about .signle-section:last-child {
  margin-right: 0;
}
.section-area .about .signle-section h4 {
  font-size: 23px;
  text-transform: capitalize;
  font-weight: 500;
}
.section-area .about .signle-section p {
  margin: 16px auto;
}
.section-area .about .signle-section a {
  color: #000;
}
.section-area .about .signle-section a:hover {
  border-color: #000;
}

.services-area {
  background-color: #ddd;
}
.services-area .service .single-service {
  background-color: #fff;
  padding: 50px 20px;
  float: left;
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 2px solid #ddd;
  transition: 0.3s;
}
.services-area .service .single-service:nth-child(3), .services-area .service .single-service:last-child {
  margin-right: 0;
}
.services-area .service .single-service:hover {
  border-color: #ff7720;
}
.services-area .service .single-service:hover i {
  background-color: #ff7720;
}
.services-area .service .single-service i {
  font-size: 30px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}
.services-area .service .single-service h4 {
  font-size: 23px;
  text-transform: capitalize;
  margin: 10px 0;
}
.portfolio .single-portfolio {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
  height: 300px;
  position: relative;
}
.portfolio .single-portfolio:nth-child(3), .portfolio .single-portfolio:last-child {
  margin-right: 0;
}
.portfolio .single-portfolio h4 {
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background: #000;
  width: 100%;
  padding: 20px;
  text-transform: capitalize;
  font-size: 20px;
}

.cta-area {
  color: #fff;
}
.cta-area h4 {
  font-size: 50px;
  text-transform: uppercase;
}
.cta-area p {
  margin: 30px 0;
}
.blog .single-blog {
  float: left;
  width: 380px;
  margin-right: 30px;
  background: #ddd;
  overflow: hidden;
}
.blog .single-blog:last-child {
  margin-right: 0;
}
.blog .single-blog:hover img {
  transform: scale(1.1);
}
.blog .single-blog .blog-img img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.blog .single-blog .blog-content {
  padding: 20px;
}
.blog .single-blog .blog-content h4 {
  font-size: 22px;
  text-transform: capitalize;
}
.blog .single-blog .blog-content p {
  margin: 15px auto;
}
.contact-area .contact-top-single {
  float: left;
  width: 400px;
  text-align: center;
}
.contact-area .contact-top-single i {
  font-size: 40px;
}
.contact-area .contact-top-single p {
  font-weight: normal;
  text-transform: lowercase;
  font-size: 18px;
}
.contact-area .contact-top-single p span {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
  display: block;
  margin: 10px 0;
}
.contact-area .contact-bottom .contact-info {
  float: left;
  width: 700px;
  margin-right: 30px;
}
.contact-area .contact-bottom .contact-info input, .contact-area .contact-bottom .contact-info textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 1px solid #ddd;
}
.contact-area .contact-bottom .contact-info input[type=submit] {
  width: auto;
  padding: 15px 40px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #ff7720;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}
.contact-area .contact-bottom .contact-info input[type=submit]:hover {
  background-color: #000;
  color: #ff7720;
}
.contact-area .contact-bottom .map {
  float: right;
  width: 470px;
}
.contact-area .contact-bottom .map iframe {
  width: 100%;
  height: 334px;
  border: 2px solid #ddd;
}

iframe {
  width: 100%;
}

.footer-area {
  background-color: #000;
}
.footer-area p {
  color: #fff;
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */